<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">
<head th:fragment="head">
    <meta charset="UTF-8">
    <title>Coding Event</title>
   <!-- <script th:src="@{/script.js}"></script>
   <link th:href="@{/styles.css}" rel="stylesheet">-->
<!--*** above lines are static files used    .-->


    <!-- Static exercise   -->
    <link th:href="@{/styles.css}" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.2/dist/js/bootstrap.min.js"></script>
</head>
<body>
<nav th:fragment="header">
    <h1 th:text="${title}">Coding Events</h1>
    <ul>
        <li><a href="/events">All Events</a></li>
        <li><a href="/events/create">Create Event</a></li>
    </ul>
</nav>
<td th:fragment="address">1234 5th Street</td>
</body>
</html>